<div class="container">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#"><img src="../../assets/Logo.svg" /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/userDashboard"
            ><img src="../../assets/ico_dashboard.svg" />Dashboard
            <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#"
            ><img src="../../assets/ico_users.svg" />Users</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><img src="../../assets/ico_sessionmanager.svg" />Session Manager</a
          >
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <img src="../../assets/ico_notification.svg" /> &nbsp;&nbsp;&nbsp;
        <img src="../../assets/ico_user.svg" /> &nbsp;
        <label style="color: white">John Smith</label>&nbsp;&nbsp;&nbsp;
        <img src="../../assets/ico_downarrow.svg" />
      </form>
    </div>
  </nav>
</div>
